@import '~bootstrap/scss/bootstrap.scss';

//overwriting default var
$primarycol: plum;
$body-bg: LavenderBlush;
$secondarycol: orange;
 

.button {
    background-color: $primarycol; 
    color: white;
    border-color: white;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray
  }

  .button-find {
    background-color: $secondarycol; 
    color: white;
    border-color: white;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray
  }
  

  h2 {
    color: $primarycol
  }

  .kat {
    color: $primarycol;
  }

  .navi {
    background-color: $primarycol; 
    color: white;
  }